{% extends '../frontend/f_base.html' %}
{% load static %}


{% block content %}
<style>
    #btn-load {
        visibility: hidden;
    }  
</style>



<div class="container py-5">
    <div class="row align-item-center justify-content-center">
        <div class="col-md-4">
            <div class="card bg-red">
                <div class="card-body shadow card-sm rounded">
                    <h3 class="text-center text-info mb-3">Sign In</h3>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
    
                    <form class="account-form" action="{% url 'account:login' %}" method="POST">
                        {% csrf_token %}
    
                        <div class="mb-3">
                            <label for="email" class="form-label fw-bold">Email Address</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="email">
                        </div>
                        <div class="">
                            <label for="password" class="form-label fw-bold">Password</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="email">
                        </div>
                        <div class="d-grid gap-2">
                        <button id="my-btn" class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" >
                            Sign in
                            <span id="btn-load" class="ms-4"><i class="fa-solid fa-spinner fa-spin"></i></span>
                        </button>
                          <!-- <input class="btn btn-primary py-2 mb-4 mt-5 fw-bold" type="submit" value="Sign in"> -->
                        </div>
                    </form>      
                </div>
            </div>
        </div>
    </div>

</div>


<script>
    const myBtn = document.getElementById('my-btn')
    const loaderBtn = document.getElementById('btn-load')

    myBtn.addEventListener('click', ()=>{
        loaderBtn.style.visibility = 'visible'
        myBtn.style.backgroundColor = "#727a74";
    })
</script>
{% endblock %}