{% extends '../base.html' %}
{% load static %}

<!-- {% block extra_css %} <link rel="stylesheet" href="{% static 'css/sidebar.css' %}"> {% endblock %} -->

{% block extra_js %} <script src="{% static 'js/sidebar.js' %}"></script> {% endblock%}

{% block content %}
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
        </button>
        </div>
      <a href="{% url 'account:admin_dashboard' %}" class="logo"><img id="logo-img-background" class="my-3 ms-3" src="{% static 'images/logoff.png' %}" style="width: 200px;" ></a>
      <!-- <h1><a href="{% url 'account:admin_dashboard' %}" class="logo">Cleveland Medical Center</a></h1> -->
        <ul class="list-unstyled components mb-3">
            {%  if request.user.is_staff %}
                <li class="active">
                    <a href="{% url 'account:admin_dashboard' %}"><span class="fa fa-home mr-3"></span> Dashboard</a>
                </li>
                <li>
                    <a href="{% url 'account:all_patient' %}"><span class="fa-solid fa-cash-register mr-3"></span> Patient</a>
                </li>
                <li>
                    <a href="{% url 'account:add_doctor' %}"><span class="fa-solid fa-stethoscope mr-3"></span> Doctor</a>
                </li>
                <li>
                    <a href="{% url 'account:add_billing_specification' %}"><span class="fa-solid fa-calendar-check mr-3"></span> Bill Specification</a>
                </li>
                <li>
                    <a href="{% url 'account:all_billings' %}"><span class="fa-solid fa-cash-register mr-3"></span> Billing</a>
                </li>
                <li>
                    <a href="{% url 'account:add_prescription' %}"><span class="fa fa-paper-plane mr-3"></span> Prescription</a>
                </li>
                <li>
                    <a href="{% url 'account:payment_list' %}"><span class="fa-regular fa-credit-card mr-3"></span> View Payment</a>
                </li>
                <li>
                    <a href="{% url 'account:address' %}"><span class="fa-regular fa-credit-card mr-3"></span> Addresses</a>
                </li>
            {% else %}
            <li class="active">
                <a href="{% url 'account:patient_dashboard' %}"><span class="fa fa-home mr-3"></span> Dashboard</a>
            </li>
            <li class="active">
                <a href="{% url 'account:patient_status' %}"><span class="fa-solid fa-user mr-3"></span> Status</a>
            </li>
            <li class="active">
                <a href="{% url 'account:patient_billing' %}"><span class="fa fa-paper-plane mr-3"></span> Billing</a>
            </li>
            <li class="active">
                <a href=""><span class="fa-solid fa-calendar-check mr-3"></span> Appointment</a>
            </li>
            <li class="active">
                <a href="{% url 'account:make_payment' %}"><span class="fa-regular fa-credit-card mr-3"></span> Make Payment</a>
            </li>
            <li class="active">
                <a href="{% url 'account:contact' %}"><span class="fa-regular fa-calendar-check mr-3"></span>Contact Us</a>
            </li>
            {% endif %}
        </ul>
        <a href="{% url 'account:logout' %}" class="btn btn-danger fw-bold w-100"><i class="fa-solid fa-right-from-bracket"></i> Sign out</a>

        <!-- google translator container -->
        <!-- <div class="pt-3 mt-3" id="google_translate_element"></div> -->

    </nav>

<!-- Page Content  -->
<div id="content" class="p-4 p-md-5 pt-5">
{% block sub_base_content %} {% endblock %}
</div> 
  


</div>
{% endblock %}