{% extends '../sub_base.html' %}
{% load static %}


{% block sub_base_content %}

<div class="row align-items-center justify-content-center">
    <div class="col-md-9">
        <div class="card bg-dark shadow rounded card-sm">
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{error}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endfor %}
            {% endif %}

            <div class="card-body">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <h3 class="card-title mb-5 bg-secondary text-center text-light">Add A Doctor</h3>
                
                <form action="{% url 'account:add_doctor' %}" method="POST">
                    {% csrf_token %}

                    {% if form.errors %}
                        <p class="text-white fw-bold">Please correct the following errors:</p>
                        {% for field in form %}
                            {% if field.errors %}
                            <div class="alert alert-primary" role="alert">
                                {{ field.label }}: {{ field.errors|striptags }}
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.doc_name.id_for_label}}" class="form-label fw-bold text-white">Doctor Name</label>
                                {{ form.doc_name }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.doc_email.id_for_label}}" class="form-label fw-bold text-white">Doctor Email</label>
                                {{ form.doc_email }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.mobile.id_for_label}}" class="form-label fw-bold text-white">Phone Number</label>
                                {{ form.mobile }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="{{ form.job_title.id_for_label}}" class="form-label fw-bold text-white">Job Title</label>
                                {{ form.job_title }}
                            </div>
                        </div>
                    </div>
                    <button id="my-btn" class="btn btn-primary py-2 mb-4 mt-5 fw-bold w-100" type="submit" >
                        Create Now
                        <span id="btn-load" class="ms-4"><i class="fa-solid fa-spinner fa-spin"></i></span>
                    </button>
                    <!-- <input type="submit" value="Create Now" class="btn btn-primary text-white w-100 fw-bold float-end">                    -->
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row pt-5">
    <div class="table-responsive">
        <table class="table table-secondary table-hover">
            <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Doctor Name</th>
                  <th scope="col">Doctor Email</th>
                  <th scope="col">Doctor Mobile</th>
                  <th scope="col">Job Title</th>
                  <th scope="col"></th>
                </tr>
            </thead>
        
            <tbody class="table-dark border-0">
            {% for doctor in doctors %}
                <tr>
                  <!-- <th scope="row">1</th> -->
                  <td>{{doctor.doc_name}}</td>
                  <td>{{doctor.doc_email}}</td>
                  <td>{{doctor.mobile}}</td>
                  <td>{{doctor.job_title}}</td>
                  <td><a href="{% url 'account:delete_doctor' doctor.id %}"><i class="fa-sharp fa-solid fa-trash text-danger"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        
        </table>
    </div>
</div>

{% endblock %}