{% extends '../sub_base.html' %}
{% load static %}


{% block sub_base_content %}




<div class="row pt-5">
    <h3 class="card-title mb-5 bg-secondary text-center text-light">ALL Billings</h3>
    <div class="row align-item-center justify-content-center">
        <div class="col-md-4 my-4">
            <a href="{% url 'account:add_billing' %}" class="btn btn-primary fw-bold w-100">Add New Billing</a>
        </div>
    </div>
    <hr class="bg-dark">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="table-responsive">
        <table class="table table-secondary table-hover">
            <thead>
                <tr>
                  <th scope="col">Patient</th>
                  <th scope="col">Bill Amount</th>
                  <th scope="col">Paid Amount</th>
                  <th scope="col">Balance</th>
                  <th scope="col">Bill Date</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
            </thead>
        
            <tbody class="table-dark border-0">
            {% for bill in billings %}
                <tr>
                  <td>{{bill.patient}}</td>
                  <td>{{bill.bill_amount}}</td>
                  <td>{{bill.paid_amount}}</td>
                  <td>{{bill.get_balance}}</td>
                  <td>{{bill.billing_date}}</td>
                  <td><a href="{% url 'account:billing_detail' bill.id %}" class="btn btn-info fw-bold btn-sm">Detail</a></td>
                  <td><a href="{% url 'account:edit_billing' bill.id %}"><i class="fa-solid fa-pen"></i></a></td>
                  <td><a href="{% url 'account:delete_billing' bill.id %}"><i class="fa-sharp fa-solid fa-trash text-danger"></i></a></td>
                  <td><a href="{% url 'account:view_receipt' bill.id %}"><i class="fa-solid fa-download text-info"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        
        </table>
    </div>
</div>

{% endblock %}