{% extends '../sub_base.html' %}
{% load static %}


{% block sub_base_content %}

<div class="row align-items-center justify-content-center">
    <div class="col-md-9">
        <form action="." method="POST">
            {% csrf_token %}

            <div class="card bg-dark">
                <h3 class="text-center text-white">Change Password</h3>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            {{message}}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-body">
                    <div class="mb-3">
                        <label for="password1" class="form-label fw-bold">New Password</label>
                        <input type="password" name="password1" class="form-control" id="password1">
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label fw-bold">Repeat Password</label>
                        <input type="password" name="password2" class="form-control" id="password2"> 
                    </div>
                    <input type="checkbox" onclick="myFunction()">Show Password
                    <button type="submit" class="btn btn-primary w-100 fw-bold mt-4 ">Save</button>
                </div>
            </div>
            
        </form>
        
    </div>
</div>
<script>
    function myFunction() {
        var x = document.getElementById("password1");
        var y = document.getElementById("password2");
        if (x.type === "password") {
            x.type = "text";
            y.type = "text";
        } else {
            x.type = "password";
            y.type = "password";
        }                 
    }

</script>

{% endblock %}