{% extends '../sub_base.html' %}
{% load static %}


{% block sub_base_content %}
<h1 class="mb-4 text-primary">Patients</h1>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="row pt-3">
    <div class="row align-item-center justify-content-center">
        <div class="col-md-4 my-4">
            <a href="{% url 'account:add_patient' %}" class="btn btn-primary fw-bold w-100" id="my-btn">Add New Patient <span id="btn-load" class="ms-4"><i class="fa-solid fa-spinner fa-spin"></i></span></a>
        </div>
    </div>
    <hr class="bg-dark">
    <div class="table-responsive">
        <table class="table table-secondary table-hover">
            <thead>
                <tr>
                  <th scope="col">Patient ID</th>
                  <th scope="col">Patient Name</th>
                  <th scope="col">Doctor</th>
                  <th scope="col">Date of Birth</th>
                  <th scope="col">BG</th>
                  <th scope="col">Email</th>
                  <th scope="col">Mobile</th>
                  <th scope="col">Password</th>
                  <th scope="col">Admited On</th>
                  <!-- <th scope="col"></th> -->
                </tr>
            </thead>
        
            <tbody class="table-dark border-0">
            {% for patient in patients %}
                <tr>
                  <td>{{patient.patient_id}}</td>
                  <td>{{patient.full_name}}</td>
                  <td>{{patient.doctor}}</td>
                  <td>{{patient.date_of_birth}}</td>
                  <td>{{patient.blood_group}}</td>
                  <td>{{patient.customer.email}}</td>
                  <td>{{patient.phone_number}}</td>
                  <td>{{patient.pass_text}}</td>
                  <td>{{patient.admission_date}}</td>
                  <!-- <td><a href=""><i class="fa-solid fa-pen"></i></a></td> -->
                </tr>
            {% endfor %}
            </tbody>
        
        </table>
    </div>
</div>



{% endblock %}
{% url 'account:delete_patient' customer.id %}

<!-- <td><a href="{% url 'account:update_patient' customer.id %}"><i class="fa-solid fa-pen"></i></a></td> -->