{% extends '../sub_base.html' %}
{% load static %}


{% block sub_base_content %}
<h1 class="mb-4 text-primary">Payments</h1>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="row pt-3">
    <div class="table-responsive">
        <table class="table table-secondary table-hover">
            <thead>
                <tr>
                  <!-- <th scope="col">#</th> -->
                  <th scope="col">Patient Name</th>
                  <th scope="col">Amount</th>
                  <th scope="col">View Receipt</th>
                  <th scope="col">Payment Summary</th>
                  <th scope="col">Date Paid</th>
                  <th scope="col"></th>
                </tr>
            </thead>
        
            <tbody class="table-dark border-0">
            {% for payment in payments %}
                <tr>
                  <td>{{payment.patient.full_name}}</td>
                  <td>{{payment.billing.currency}}{{payment.amount}}</td>
                  <td><a href="{{payment.receipt.url}}"><img src="{{payment.receipt.url}}" class="img-fluid" style="width: 100px; height: 30px;"></a></td>
                  <td>{{payment.payment_summary|slice:":40"}}......</td>
                  <td>{{payment.date_created}}</td>
                  <td><a href="{% url 'account:delete_payment' payment.id %}"><i class="fa-sharp fa-solid fa-trash text-danger"></i></a></td>              
                </tr>
            {% endfor %}
            </tbody>
        
        </table>
    </div>
</div>



{% endblock %}
